In [3]:
print("Hello World")

Hello World

In [4]:
# Shift + enter
print("Hello")

Hello

In [11]:
a = 7

In [6]:
print(a)

7

In [7]:
type(a)

int

In [8]:
a = "Hello"

In [9]:
print(a)

Hello

In [12]:
type(a)

int

In [13]:
"Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [17]:
"hello " * 5

'hello hello hello hello hello '

#### Conditional Statements

In [23]:
a = 8

if a>10:
    print("I'm inside if")
    print("Number is greater than 10")
    
else:
    print("Number is small than 10")
    
print("Everytime")

Number is small than 10
Everytime

### Iterations

In [27]:
i=0 
while i<10:
    print(i, end =", ")
    i+=1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [32]:
for i in range(10, 30, 2):
    print(i, end= ", ")

10, 12, 14, 16, 18, 20, 22, 24, 26, 28,

## Functions

In [39]:
def sample(a,b):
    return a+b, a , b

In [40]:
sample(5, 6)

(11, 5, 6)

In [43]:
def pattern(n):
    for i in range(n):
        print("*"*(i+1))

In [44]:
pattern(5)

*
**
***
****
*****


# Data Structures

In [45]:
l = [6,8,3,9,10,2]

In [46]:
print(l)

[6, 8, 3, 9, 10, 2]

In [48]:
for ele in l:
    print(ele**2)

36
64
9
81
100
4

In [50]:
l.append(100)

In [51]:
l

[6, 8, 3, 9, 10, 2, 100]

In [53]:
l.sort()

In [54]:
l

[2, 3, 6, 8, 9, 10, 100]

In [60]:
print(l[0])
print(l[6])
print(l[-2])

2
100
10

In [63]:
# List Slicing
# l[ start_index :  end_index +1 ]
l[2 : 6]

[6, 8, 9, 10]

## Tuples

In [64]:
t = (7,4,9,8)

In [65]:
t

(7, 4, 9, 8)

In [67]:
t[1:3]

(4, 9)

In [69]:
t[0] = 70

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [73]:
menu = {
    "cat"  : 100,
    "dog" : 400
}

In [74]:
menu['cat']

100

In [76]:
menu['dog']

400